name: build
on:
  push:
    tags:
      - v*
    branches:
      - master
      - main
  pull_request:

jobs:

  build:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: '1.19'

      - name: Verify dependencies
        run: go mod verify

      - name: Build
        run: go build -v main.go
